body{
    background: rgb(29 67 99) !important;
}
.fa-brands{
    color: white;
    font-size: 40px;
}

#main{
    margin: 19px auto;
    width: 560px;
    padding: 10px;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
}
@media (max-width: 560px) {
    #main{
        width: auto;
    }
    #location, #gitlink, #id, #fo{
        font-size: 16px !important;
    }
}
.div1{
    margin-bottom: 10px;
    display: flex;
    gap: 19px;

}
#img{
    /* border: 2px solid black; */
    height: 128px;
    width: 127px;
    border-radius: 50%;

}
.detail{
    padding: 5px 9px;
    box-shadow: 0 0 10px 5px;
}
#username{
    color: white;
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 2px;
}
#bio{
    color: wheat;
    text-align: justify;
}
.usergitdetail{
    /* border: 2px solid black; */
    height: 80px;
    margin: 35px auto;
    color: wheat;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 3px 0px;
    font-size: 19px;
    font-weight: 800;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    background: rgb(10, 67, 114)
}
.textcolor{
    font-weight: 600;
    color: white;
}
.div2{
    /* border: 2px solid black;  */
    height: 100px;
    margin: auto;
}
.usergitdetail-2{
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}
.fa-solid{
    font-size: 22px;
    color: white;
}
#location, #gitlink, #id, #fo{
    margin: 0px 10px;
    font-size: 20px;
    color: wheat;
}